.search-input {
  width: 70%;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 1);
  color: white;
}

.search-input:focus{
  border: white;
}


@media only screen and (max-width: 1024px) {
  .search-input{
   width: 100%;
  }
 }